---
---
<!DOCTYPE html>
<html lang="en">
{% include html/html-head.html %}
<body>
<main>
  <div class="container privacy">
    <div class="logo">
      <a href="/">{% include svg/blue-logo.svg %}</a>
    </div>
    <h1 align="center">Privacy Policy</h1>
    <h3>Data Controller:</h3>
    <p>
      Katie's Klean Limited<br/>
      10 Studley Avenue<br/>
      London<br/>
      E4 9PS<br/>
      mob: 07725229567<br/>
      info@katiesklean.co.uk<br/>
      www.katiesklean.co.uk<br/>
    </p>

    <h2>Your Privacy</h2>
    <p>At Katie's Klean Ltd we are committed to the highest privacy standards. However you choose to interact with us we will only collect data that is necessary for us to deliver the best possible service. This policy provides detailed information of how we use it. We will ensure that your data is handled lawfully and fairly. We commit to transparency about your personal data that we collect and how we use.</p>
    <p>This Privacy Policy applies whether you visit our company head office, go online, contact us by phone or use your mobile device. It provides you with the following information:</p>
    <ul>
      <li>Collection of your personal data</li>
      <li>Why we collect your data</li>
      <li>How we process your data</li>
      <li>Sharing of personal data</li>
      <li>Keeping data secure</li>
      <li>Data Retention</li>
      <li>Your rights</li>
      <li>Privacy Policy Updates</li>
    </ul>

    <h2>Collection of your personal data</h2>
    <p>Relevant to the legal bases that apply to us, Katie's Klean Ltd may collect the following information:</p>
    <ul>
      <li>Your name or/and company name</li>
      <li>Your contact details: postal address, including building and delivery address, telephone numbers and email address</li>
      <li>Information about your services from us</li>
      <li>Your correspondence and communication with us</li>
      <li>Your interest preferences, feedback</li>
      <li>Other publicly available personal data, including any that you have shared via social media</li>
      <li>IP address (collected automatically by our website hosting provider when you visit our website)</li>
      <li>Bank sort code and account number solely in case of purchases or refunds</li>
      <li>Your business details if you are a supplier or a business that uses our services or/and products</li>
    </ul>

    <h2>Why we collect your data</h2>
    <ul>
      <li>To provide and upgrade our services</li>
      <li>Contract: The processing of personal data is necessary for us to fulfil our contractual obligations with you (e.g. if you are ordering services or products from us) or because you have asked us to do something before entering into a contract (e.g. you have asked us to prepare and send you a quotation)</li>
      <li>For accounting and tax purposes (including archiving)</li>
      <li>Legal and regulatory compliance</li>
      <li>Company administration and management</li>
      <li>Communication and marketing</li>
    </ul>

    <h2>How we process your data</h2>
    <p>The account data may be processed for the purposes of supplying our services and/or products, ensuring the security of our services and/or products, maintaining back-ups of our databases and communicating with you;</p>
    <p>Any third party company is only permitted to process your data for the specific purposes (e.g. relevant information for goods delivery purposes, specific and relevant personal information provided to our employees and/or subcontractors delivering our services) and in accordance with our instructions;</p>
    <p>Our website does not process or store your personal data (except for IP address, which is collected automatically). That could change in the future if we add analytic capabilities to the website to tie it in with a marketing campaign. Should this be subject to change this Privacy Policy will be updated on our website under our Privacy Policy;</p>
    <p>In addition to the specific purposes for which we may process your personal data set out in this section, we may also process any of your personal data where such procession is necessary for compliance with legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another person;</p>
    <p>We may also occasionally contact you to ask for your feedback on services.</p>

    <h2>Sharing of your personal data</h2>
    <p>We may disclose your personal data to any member of our group of companies (our suppliers and subcontractors), insofar as reasonably necessary for the purposes, and on legal bases set out in this policy;</p>
    <p>Our employees, agents and/or professional advisors - to provide customers with the best and most appropriate services and products, to obtain advice from professional advisers (accountancy firm, insurers, legal purposes if relevant), communication between employees and/or subcontractors relating to provision of service;</p>
    <p>Third party service providers who provide services to us which require the processing of personal data - to help third-party service providers in receipt of any shared data to perform functions on our behalf to help ensure the website runs smoothly;</p>
    <p>Should any claim be made, we may pass your personal data to our insurers and if our business if wholly or partially transferred to a third party, your personal information may be one of the transferred assets;</p>
    <p>Financial transactions relating to our services are handled by Lloyds Bank. We may share transaction data with our bank service provider only to the extent necessary for the purposes of processing your payments, refunding such payments and dealing with complaints and queries relating to such payments and refunds;</p>
    <p>We will never sell or rent out our customer data to other organisations for marketing purposes. We may, however share your data with:</p>
    <ul>
      <li>government bodies, regulators, law enforcement agencies, courts/tribunals and insurers where we are obliged to do so</li>
      <li>to comply with our legal obligations</li>
      <li>to exercise our legal rights (for example in court cases)</li>
      <li>for the prevention, detection, investigating of crime or prosecution of offenders</li>
      <li>for the protection of our employees, subcontractors and customers</li>
    </ul>

    <h2>Keeping data secure</h2>
    <p>We will use technical and organisational measures to safeguard your Data.</p>
    <p>We store your data securely and by protecting it with anti-malware software and password protection on all our digital devices. We secure storage of written records.</p>
    <p>Technical and organisational measures include measures to deal with any suspected data breach.</p>
    <p>If you suspect any misuse or loss or unauthorised access to you Data, please let us know immediately by contacting us via our e-mail address: info@katiesklean.co.uk</p>
    <p>If you want detailed information from Get Safe Online on how to protect your information and your computers and devices against fraud, identity theft, viruses and many other online problems, please visit <a href="https://www.getsafeonline.org/">www.getsafeonline.org</a>. Get Safe Online is supported by HM Government and leading businesses.</p>

    <h2>Data Retention</h2>
    <p>We will not retain your data for longer than necessary for the purposes set out in this Policy. Different retention periods apply for different types of data, however the longest we will normally hold any personal data is 6 years, unless you elect to use your right to erase your personal data. We may be compelled to retain some data to comply with legislative compliance e.g. the legal requirement to retain details of financial transactions in accordance with UK law.</p>

    <h2>Your rights</h2>
    <h3>Right to be informed</h3>
    <p>You have the right to be informed about the details of the collection and the management and processing of personal data used by us detailed in the Privacy Policy.</p>

    <h3>Right of access</h3>
    <p>You have the right to obtain:</p>
    <ul>
      <li>confirmation that your personal data is being processed;</li>
      <li>access to that personal data (i.e. you can request a copy of the personal data that we hold about you, at any time). This is provided free of charge and must be supplied to you within one month of receipt of your request.</li>
    </ul>

    <h3>Right to rectification</h3>
    <p>You have the right to request that we correct any inaccurate or incomplete personal data that we hold about you.</p>

    <h3>Right to change your communication preferences</h3>
    <p>Your personal communication preferences can be changed on your request at any time by using our contact details.</p>

    <h3>Right to erasure</h3>
    <p>You have the right to have your personal data erased and to prevent processing in a range of specified circumstances. This can only normally be refused based on public interest requirements and where we have to ensure compliance with legal and auditory regulations.</p>
    <p>We would not be able to erase personal data whilst we are still providing our services to you. This can only be done once you cancel the service or once the service is completed.</p>

    <h3>Right to restrict processing</h3>
    <p>You have the right to block or suppress processing of your personal data. When such processing is blocked or restricted, personal data can still be stored but not processed.</p>

    <h3>Right to data portability</h3>
    <p>You have the right to obtain a copy of your personal information in a legible and compatible format that is suitable for you to use for your own purposes.</p>

    <h3>Right to complain</h3>
    <p>You have the right to complain to us directly by contacting us using the information in the contact section.

    <h2>Privacy Policy Updates</h2>
    <p>We reserve our right to make any changes and updates to this Privacy Policy without giving you notice as and when we need to. Our most up to date Privacy Policy is available on our website.</p>
  </div>
  {% include html/footer.html %}
</main>
{% include html/deferred-resources.html %}
</body>
</html>