<div class="container footer">
  <div class="row">
    <div class="col-12 col-lg-6 address">
      <address>
        <div class="address-element">
          <div class="address-icon">{% include phone.svg %}</div>
          <span>077 2522 9567</span>
        </div>
        <div class="address-element">
          <div class="address-icon">{% include email.svg %}</div>
          <a href="mailto:info@katiesklean.co.uk">info@katiesklean.co.uk</a>
        </div>
        <div class="address-element">
          <div class="address-icon">{% include map.svg %}</div>
          <span>10 Studley Avenue, E4 9PS, London</span>
        </div>
      </address>
    </div>
    <div class="col-12 col-lg-6 copyright">
      <div class="copyright-logo">
        {% include logo.svg %}
      </div>
      <div class="copyright-text">
        <span>Copyright © 2018 Katie's Klean Ltd</span>
      </div>
      <div class="copyright-text">
        <span>All rights reserved.</span>
      </div>
      <div class="privacy-link">
        <a href="/privacy-policy">Privacy</a>
      </div>
    </div>
  </div>
</div>