---
---
<!DOCTYPE html>
<html lang="en">
{% include html/html-head.html %}
<body>
<main>
  <div class="container privacy">
    <div class="logo">
      <a href="/">{% include svg/blue-logo.svg %}</a>
    </div>
    <h1 align="center">Terms & Conditions</h1>
    <p>Customer shall be deemed to have entered into a binding verbal or written agreement by placing an order over the phone, fax, e-mail or our web site.</p>

    <h2>1. Services</h2>
      <h3>A. Regular Domestic Cleaning</h3>
      <ol class="roman">
        <li>Minimum duration of 2 hours per cleaning visit applies for all domestic cleaning services.</li>
        <li>Katie’s Klean provides regular domestic cleaning and regular commercial cleaning organized on a weekly or fortnightly basis. We offer a no obligation free quote which can be made via the phone or via email.</li>
        <li>Our manager can only give a rough estimate of the duration of the cleaning service, based on a basic description of the customer's house. Please note that duration may vary therefore a degree of flexibility is required.</li>
        <li>Customer agrees to provide a task list and all necessary cleaning detergents and equipment for the required work, unless arranged otherwise with Katie’s Klean.</li>
        <li>Customer is required to provide the following equipment/supplies:
          <ul>
            <li>A vacuum cleaner in good working order;</li>
            <li>Mop and bucket or equivalent;</li>
            <li>Cleaning products: bleach, window cleaner, floor cleaner, limescale remover (Viakal or Lime Lite), kitchen cleaner and bathroom cleaner or multi-purpose spray, furniture polish (Pledge or Dettol), oven cleaner;</li>
            <li>Sponges/scourers;</li>
            <li>Clean microfibre cloths in a sufficient quantity for your property – it is not reasonable to expect cleaners to use the same cloth in different houses during the day as it is not hygienic. Moreover, cleaners shouldn’t be expected to carry with them the cloths they need during the day, nor to take back the dirty ones with them;</li>
            <li>Cleaners are instructed to set your machine to wash dirty cloths after use therefore please ensure these are dried for the next visit.</li>
          </ul>
        </li>
        <li>Equipment should be safe to use.</li>
        <li>If keys are to be collected from a location outside the postal code area of the cleaning scheduled, a fixed fee of £24 (excl. VAT) will be applied.</li>
        <li>Katie’s Klean will not be responsible for triggering any alarm systems. Customer should provide the necessary instructions for deactivation/activation of household alarm systems, if any.</li>
        <li>Customer acknowledges that the price quoted over the phone or email includes cleaning only.</li>
        <li>Katie’s Klean will not continue with the job if, for example, water or power is not available, or if Customer or any other person interferes with a cleaner’s duties.</li>
      </ol>

      <h3>B. End of Tenancy Cleaning</h3>
      <ol class="roman">
        <li>Katie’s Klean reserves the right to amend the initial quotation if Customer's original requirements change.</li>
        <li>Katie’s Klean provides End of Tenancy Cleaning and After Builders Cleaning. We offer a no obligation free quote which can be made via the phone or via email.</li>
        <li>If keys are to be collected from a location outside the postal code area of the cleaning scheduled, a fixed fee of £24 (excl. VAT) will be applied.</li>
        <li>The customer acknowledges that the price quoted includes cleaning only.</li>
        <li>Minimum duration of 4 hours per cleaning visit applies.</li>
        <li>Customer agrees to provide a task list and all cleaning detergents and equipment (vacuum cleaner, mop, bucket and portable ladder) required to carry out the service, unless arranged otherwise with Katie’s Klean. All cleaning equipment provided by Customer, should be safe and in full working order.</li>
        <li>Customer is required to provide the following equipment/supplies:</li>
        <ul>
          <li>A vacuum cleaner in good working order;</li>
          <li>Mop and bucket or equivalent;</li>
          <li>Cleaning products: bleach, window cleaner, floor cleaner, limescale remover (Viakal or Lime Lite), kitchen cleaner and bathroom cleaner or multi-purpose spray, furniture polish (Pledge or Dettol), oven cleaner;</li>
          <li>Sponges/scourers;</li>
          <li>Clean microfibre cloths in a sufficient quantity for your property – it is not reasonable to expect cleaners to use the same cloth in different houses during the day as it is not hygienic. Moreover, cleaners shouldn’t be expected to carry with them the cloths they need during the day, nor to take back the dirty ones with them;</li>
        </ul>
        <li>End of Tenancy Cleaning and After Builders Cleaning do not include cleaning of: walls, ceilings, curtains, exterior windows, balcony, patio, gardens, washing up, laundry and professional carpet and upholstery cleaning.</li>
        <li>Our manager can only give a rough estimate of the duration of the cleaning service, based on a basic description of the Customer's house. Please note that duration may vary therefore a degree of flexibility is required.</li>
        <li>Customer is advised that an End of Tenancy Cleaning may take double the length of time required for a general cleaning. After Builders Cleaning, After Party Cleaning or badly neglected homes may take up to three times longer than a well-maintained home requiring general cleaning.</li>
        <li>Katie’s Klean will not continue with the job if, for example, water or power is not available or if Customer or any other person interferes with a cleaner’s duties.</li>
      </ol>

      <h3>C. One-off Cleaning / Spring Cleaning</h3>
      <ol class="roman">
        <li>Katie’s Klean reserves the right to amend the initial quotation if Customer’s original requirements change.</li>
        <li>Minimum duration of 3 hours per cleaning visit applies.</li>
        <li>Katie’s Klean provides one-off cleaning/spring cleaning. We offer a no obligation free quote which can be made via the phone or via email.</li>
        <li>Customer agrees to provide a list of tasks and all cleaning detergents and equipment needed for the required work, unless arranged otherwise with Katie’s Klean.</li>
        <li>Customer is required to provide the following equipment/supplies:</li>
        <ul>
          <li>A vacuum cleaner in good working order;</li>
          <li>Mop and bucket or equivalent;</li>
          <li>Cleaning products: bleach, window cleaner, floor cleaner, limescale remover (Viakal or Lime Lite), kitchen cleaner and bathroom cleaner or multi-purpose spray, furniture polish (Pledge or Dettol), oven cleaner;</li>
          <li>Sponges/scourers;</li>
          <li>Clean microfibre cloths in a sufficient quantity for your property – it is not reasonable to expect cleaners to use the same cloth in different houses during the day as it is not hygienic. Moreover, cleaners shouldn’t be expected to carry with them the cloths they need during the day, nor to take back the dirty ones with them;</li>
          <li>Cleaners are instructed to set your machine to wash the dirty cloths after use therefore please ensure these are dried for the next visit.</li>
        </ul>
        <li>All cleaning equipment should be safe and in full working order.</li>
        <li>If keys are to be collected from a location outside the postal code area of the cleaning scheduled, a fixed fee of £24 (excl. VAT) will be applied.</li>
        <li>Customer acknowledges that the price quoted includes cleaning only.</li>
        <li>The manager can only give a rough estimate of the duration of the cleaning service, based on a basic description of the Customer's house. Please note that duration may vary therefore a degree of flexibility is required.</li>
        <li>Customer is advised that an End of Tenancy Cleaning may take double the length of time required for a general cleaning. Post Construction/ After Builders Cleaning, Post Party Cleaning or badly neglected homes may take up to three times longer than a well-maintained home requiring general cleaning.</li>
        <li>Katie’s Klean will not continue with the job if, for example, water or power is not available or if Customer or any other person interferes with the cleaner’s duties.</li>
      </ol>

      <h3>D. Provision of Cleaning Services on Statutory Holidays</h3>
      <ol class="roman">
        <li>Cleaning services provided on bank holidays will be charged at 1.5 times the normal rate. Upon agreement, cleaning services may be provided on a different day than usual only if a cleaner is available. In such a case, the cleaner sent by Katie’s Klean to the Customer to provide cleaning services may be different than the Customer’s regular cleaner.</li>
        <li>No cleaning services are provided on such statutory holidays as Christmas Day, Boxing Day, Easter Monday, New Year. If the day on which the Customer is normally provided with cleaning services falls on one of the above dates, cleaning may be organized only if there is a cleaner available.</li>
      </ol>

    <h2>2. Payments</h2>
    <ol class="latin">
      <li>Payment is requested on completion of services at the end of each month.</li>
      <li>All amounts due are payable up to 7 days of the invoice date. Any accounts not settled after 7 days of the invoice date shall be deemed overdue. Katie’s Klean reserves the right to charge interest on overdue accounts at 4%.</li>
    </ol>

    <h2>3. Complaints and Claims</h2>
    <ol class="latin">
      <li>Customer accepts and understands that poor service, theft or breakage/damage must be reported within 24 hours from the service date. If the Customer fails to do so, they will lose right to any refunds or recovery cleanings.</li>
      <li>Katie’s Klean may take up to 5 working days to respond to a complaint.</li>
      <li>Katie’s Klean will not accept a complaint based on an Inventory Check Report, filed more than 24-hours after the service.</li>
      <li>Complaints may be filed verbally over the phone and in writing (email).</li>
      <li>Customer must warn Katie’s Klean about fragile and easily breakable items. All items meeting those characteristics must be secured or removed. Items excluded from liability are: cash, jewellery, items of sentimental value, art and antiques.</li>
      <li>Key replacement/locksmith fees are paid only if keys are lost by our cleaners. The limit of liability per household is £50.</li>
      <li>Katie’s Klean agrees to keep all Customers’ information confidential.</li>
      <li>In case of damage, Katie’s Klean will repair the damaged item at its cost. If the item cannot be repaired, Katie’s Klean will rectify the issue by crediting Customer with the item's present actual cash value toward a like replacement from a Katie’s Klean source upon payment for the cleaning services rendered.</li>
    </ol>

    <h2>4. Insurance</h2>
    <ol class="latin">
      <li>Katie’s Klean holds a Public and Employer's liability insurance to cover any accidental damages caused by a cleaner working on behalf of Katie’s Klean, reported within 24 hours of service date.</li>
      <li>Insurance policy does not cover anything that may break down or stop working at any time such as: dishwasher, washing machine, oven, cookers, extractor fans, fridge, freezer, etc, any other items, instability of which Customer is already aware of, such as bathroom appliances or any fixtures. Customer must warn Katie’s Klean or the cleaner about appliances that are poorly fixed or not in full working order.</li>
      <li>Katie’s Klean has the right to refuse to share any of the confidential company documents.</li>
    </ol>

    <h2>5. Customer Satisfaction</h2>
    <ol class="latin">
      <li>Customer understands that they are not entitled to any refunds.</li>
      <li>If Customer is not satisfied with the cleaning service provided and a complaint has been placed in the stated 24 hours after the service has been rendered, Katie’s Klean reserves the right to return a cleaner and re-clean any areas and items to Customer’s satisfaction. Therefore, Customer must allow the cleaner to be returned</li>
      <li>Katie’s Klean reserves the right not to return a cleaner more than once.</li>
    </ol>

    <h2>6. Liability</h2>
    <ol class="latin">
      <li>Katie’s Klean reserves the right not to be liable for:
        <ul>
          <li>Completing tasks which are not indicated on our task list.</li>
          <li>Cleaning jobs not complete due to the lack of adequate cleaning detergents and/or equipment in full working order, hot water or power.</li>
          <li>Other persons entering or present at Customer's premises during the cleaning process.</li>
          <li>Wear or discolouring of fabric becoming more visible after removal of dirt.</li>
          <li>Existing damage or spillage that cannot be cleaned/removed completely using cleaning detergents and equipment provided by Customer or standard carpet cleaning equipment.</li>
          <li>Any damages caused by inappropriate detergents/faulty or not fully functional equipment supplied by Customer.</li>
        </ul>
      </li>
    </ol>

    <h2>7. Cleaning Operative</h2>
    <ol class="latin">
      <li>All Katie Klean’s staff is fully trained to handle the chemicals used.</li>
      <li>Katie’s Klean may need to replace Customer’s regular cleaner at any time due to illness or change of circumstances in order to fulfill its obligations to Customer. Katie’s Klean will exercise discretion when delegating cleaners to perform the task and notify Customer as soon as reasonably possible.</li>
      <li>During the holidays of a cleaner, Katie’s Klean will provide a replacement but the day and time can be different than regular day and time of cleaning.</li>
    </ol>

    <h2>8. Cancellation</h2>
      <h3>A. Regular Domestic Cleaning</h3>
      <ol class="roman">
        <li>Customer may cancel or adjust the time of a cleaning visit/s by giving a notice at least 24 hours in advance.</li>
        <li>Customer agrees to pay the full price of a cleaning visit if Customer cancels or changes the date/time less than 24 hours before the scheduled appointment.</li>
        <li>Customer agrees to pay the full price of a cleaning visit in the event of a lock-out due to our cleaners being turned away, no one home to let them in or a problem with Customer's keys (if keys are provided, no special effort or skills should be needed to open the lock).</li>
      </ol>

      <h3>B. Termination of The Cleaning Service</h3>
      <ol class="roman">
        <li>By entering into a service agreement with Katie’s Klean, Customer agrees not to hire or use any domestic services provided by a present or past cleaner introduced to Customer by Katie’s Klean after termination of the cleaning service. If Customer wishes to hire such a cleaner or use domestic services provided by them, then they must pay a referral fee of £300.</li>
        <li>These Terms & Conditions are governed by the applicable United Kingdom law. By agreeing to be bound by them, Customer agrees to submit to the exclusive jurisdiction of the relevant courts of the United Kingdom. Katie’s Klean may make any changes to any part of these Terms & Conditions without giving any prior notice.</li>
      </ol>
  </div>
  {% include html/footer.html %}
</main>
{% include html/deferred-resources.html %}
</body>
</html>